{% extends 'base.html' %}

{% block content %}
    
    <form id="booking-form" method="post">
        {% csrf_token %}
        
        <h1>Book a Table</h1>
        <label for="id_name">Name:</label>
        <input type="text" name="name" maxlength="100" required id="id_name" class="form-input">

        <label for="id_email">Email:</label>
        <input type="email" name="email" value="default@example.com" maxlength="254" required id="id_email" class="form-input">

        <label for="id_date">Date:</label>
        <input type="date" name="date" value="2025-02-24" required id="id_date" class="form-input">

        <label for="id_time">Time:</label>
        <input type="time" name="time" required id="id_time" class="form-input">

        <label for="id_guests">Guests:</label>
        <input type="number" name="guests" value="2" min="0" required id="id_guests" class="form-input">

        <button type="submit">Book</button>
    </form>
{% endblock %}
