{% load static %}

<footer>

        <ul id="social-media">
          <li>
            <a href="https://www.facebook.com/" target="_blank" rel="noopener"
              aria-label="Visit our Facebook page (opens in a new tab)"><i class="fab fa-facebook"></i>
            </a>
          </li>
          <li><a href="https://www.instagram.com/" target="_blank" rel="noopener"
              aria-label="Visit our Instagram page (opens in a new tab)"><i class="fab fa-instagram"></i></a></li>
          <li><a href="https://x.com/" target="_blank" rel="noopener"
              aria-label="Visit our X page (opens in a new tab)"><i class="fab fa-twitter-square"></i></a></li>
          <li><a href="https://www.youtube.com/" target="_blank" rel="noopener"
              aria-label="Visit our Youtube page (opens in a new tab)"><i class="fab fa-youtube-square"></i></a></li>
        </ul>
        <p><em>Copyright © 2024 | Mia Toth Design ALL RIGHTS RESERVED</em></p>
    
      </footer>
    
      <!-- Fontawesome -->
      <script src="https://kit.fontawesome.com/66439a723b.js" crossorigin="anonymous"></script>







    <!-- Social media icons
    <a href="" target="_blank" rel="noopener" aria-label="Linked - Opens in a new tab">
        <img src="{% static '/icons/linkedin-app-icon.svg' %}" alt="LinkedIn Icon" class="social-icon">
    </a>
    <a href="" target="_blank" rel="noopener" aria-label="Instagram - Opens in new tab">
        <img src="{% static '/icons/ig-instagram-icon.svg' %}" alt="Instagram Icon" class="social-icon" />
    </a>
    <a href="" target="_blank" rel="noopener" aria-label="Github - Opens in new tab">
        <img src="{% static '/icons/github-icon.svg' %}" alt="Github Icon" class="social-icon" />
    </a>
    <a href="" target="_blank" rel="noopener" aria-label="Twitter - Opens in new tab">
        <img src="{% static '/icons/twitter-app-icon.svg' %}" alt="Twitter Icon" class="social-icon" />
    </a>
    <a href="" target="_blank" rel="noopener" aria-label="YouTube - Opens in new tab">
        <img src="{% static '/icons/youtube-square-color-icon.svg' %}" alt="YouTube Icon" class="social-icon" />
    </a> -->
