{% load static %}

<header>

    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
         <!--LOGO-->
        <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'images/logo.webp' %}" alt="Restaurant logo. A plate with a fork and a knife to its side." class="logo" style="width: 100px; height: auto;">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!--NAV ITEMS-->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Menu</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
            </li> -->
            </ul>
        </div>
        </div>
    </nav>

</header>